* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/264/558/535/busy-coffee-computer-corporate-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* background: linear-gradient(135deg, #ffafbd, #ffc3a0, #cdb4db); */

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  align-items: center;
  gap: 1rem;

  font-family: "Noto sans", Helvetica, sans-serif;

  position: relative;
}

/* general styling */
.card {
  background-color: hsla(0, 0%, 100%, 0.3);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 1rem;
  min-width: 40vw;
  margin: 0 auto;

  font-size: 1.4rem;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.753);

  display: flex;
  gap: 0.5rem;
}

section {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  overflow-y: auto; /*Puts scrollbar when to many items*/
  scrollbar-width: none; /*hides scrollbar but sill scrollable*/
  max-height: 70vh;
}

input {
  height: 2rem;
  border-radius: 1rem;
  padding-left: 1rem;
}

input[type="date"] {
  padding: 0 1rem;
  flex: 1;
}

input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  accent-color: #38bdf8;
  border: 2px solid #999;
  flex: 1;
  justify-content: flex-start;
}

select {
  border-radius: 1rem;
  padding: 0.5rem;
  flex: 1;
  outline-color: rgb(137, 221, 137);
  background-color: hsla(0, 0%, 100%, 0.6);
  border: none;
}

button {
  height: 2rem;
  width: 2rem;
  border-radius: 0.7rem;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: 200ms ease-in-out;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.1);
  opacity: 1;
}

.dialog {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  position: fixed;
  top: 100px;
  right: 10px;
  background-color: white;
  display: none;
  box-shadow: 1px 1px 10px whitesmoke;
}

.showDialog {
  right: -300px;
  animation-name: dialogSlideInNOut;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  display: block;
}

@keyframes dialogSlideInNOut {
  0% {
    right: -200px;
  }
  20% {
    right: 10px; /*slides in*/
  }
  90% {
    right: 10px; /*stay*/
  }
  100% {
    right: -200px;
  }
}

i {
  pointer-events: none;
}

.task-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  padding: 0.4rem 0.6rem;

  background-color: rgba(255, 255, 255, 0.6);

  border-radius: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  transition: 200ms ease-in-out;
}

.task-container:hover {
  background-color: #d1d1d1;
}

.task-info {
  display: flex;
  flex-direction: column;
}

/* specific styling */

.inputField {
  flex: 6;
  outline-color: rgb(137, 221, 137);
  background-color: hsla(0, 0%, 100%, 0.6);
  border: none;
}

.addBtn,
.task-added,
.task-completed,
.task-tracked,
.bulkDeleteAgree,
.bulkDeleteSuccess {
  flex: 1;
  background-color: rgb(137, 221, 137);
}

.task-info {
  flex: 4;
}

.task-sub {
  font-size: 1rem;
  margin: 0.3rem 0;
  font-style: italic;
}
.shiftDate {
  flex: 3;
  justify-content: flex-start;
}
.completeBtn,
.deleteBtn {
  flex: 1;
}

.completeBtn,
.no-task-input,
.task-unchecked,
.task-untracked,
.duplicate {
  background-color: rgb(236, 236, 116);
}

.deleteBtn,
.task-deleted,
.bulkDeleteDisagree,
.bulkDeleteFail {
  background-color: rgba(253, 62, 62, 0.8);
}

.strike {
  text-decoration: line-through;
}

div.header {
  display: flex;
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
  align-items: center;
}

.task-name {
  flex: 3;
}
.target-date {
  flex: 1;
}
.option {
  display: flex;
  gap: 0.5rem;
  flex: 1;
}

.vr {
  width: 2px;
  height: 1rem;
  margin-right: 1rem;
}

.float-container {
  position: absolute;
  bottom: 90px;
  right: 100px;
}
.changelog {
  position: absolute;
  bottom: 50px;
  right: 100px;
}
.bulkDelete {
  position: absolute;
  bottom: 50px;
  right: 140px;
}
.filter {
  position: absolute;
  bottom: 90px;
  right: 140px;
}
.filter-options {
  position: absolute;
  bottom: 90px;
  right: 185px;
  display: none;
}
.filter-options.show {
  position: absolute;
  bottom: 90px;
  right: 185px;
  display: block;
}

aside {
  width: 25vw;
  position: absolute;

  left: 0;
  bottom: 0;
  top: 0;

  background-color: hsla(0, 0%, 100%, 0.3);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.753);

  transform: translateX(-300px);
  opacity: 0;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.sidebar.taskCount.showSideBar,
.sidebar.changelog-sidebar.showSideBar {
  opacity: 1;
  transform: translateX(0);
}

aside h1 {
  color: #111;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

aside hr {
  height: 3px;
}

/* table general layout */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

th,
td {
  padding: 10px 15px;
  border: 1px solid #fce4e4;
}

.js-touched,
.js-not-touched {
  text-align: center;
}

.errorFormat {
  text-align: center;
  font-style: italic;
  font-size: medium;
}

aside .div-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border-radius: 1rem;
  padding: 0.6rem;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.change-section {
  height: 95%;
  font-size: 1.1rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.bulkDeleteDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100px;
  width: 200px;

  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 1);

  opacity: 0;
  pointer-events: none;

  z-index: 999;
}
.butContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;

  button {
    flex: 1;
  }
}

.backdropD {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  pointer-events: none;
  z-index: 1;
}
.backdropD.active {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: block;
  pointer-events: all;
  z-index: 998;
}

.new {
  transform: translateX(0);
  animation-name: popIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes popIn {
  from {
    transform: translateX(-50px) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
}

.task-container.remove {
  animation-name: removeAnimation;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes removeAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
